<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dormeasy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dromeasyicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dromeasyicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">
        <activity android:name=".activities.Scanner"></activity>
        <activity android:name=".activities.notices.NoticeEvents" />
        <activity android:name=".activities.students.StudentMessage" />
        <activity android:name=".activities.students.StudentContact" />
        <activity android:name=".activities.PhoneChange" />
        <activity android:name=".activities.notices.NoticeBoard" />
        <activity android:name=".activities.admin.AdminComplaint" />
        <activity android:name=".activities.admin.AdminEvent" />
        <activity android:name=".activities.admin.AdminNotice" />
        <activity android:name=".activities.students.StudentFees" />
        <activity
            android:name=".activities.students.StudentComplaints"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.students.student_profile" />
        <activity android:name=".activities.admin.AdminHome" />
        <activity android:name=".activities.login.AdminLogin" />
        <activity android:name=".activities.students.StudentHome" />
        <activity android:name=".activities.login.StudentLogin" />
        <activity android:name=".activities.login.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>